We want to show a particular car's details

<br />

{{id}}
{{owner.id}}
{{owner.email}}

<ul>
{{#each passengers}}
	<li>{{id}} | {{email}}</li>
{{/each}}
</ul>

{{google-map
    lat="77" lng="23"
    zoom=12
    type="road"    
}}